
:root {
    /* CORPORATE PALETTE */
    --primary-red: #BE1622 !important;
    --primary-blue: #007FB0 !important;
    --primary-grey: #34516C !important;
    --forest: #006250 !important;
    --sunrise: #F47721 !important;
    --lake: #0099D2 !important;
    --grass: #339933 !important;
    --gold: #F2BE1A !important;
    --sky: #53B7E8 !important;
    --silver: #919CAD !important;
    --olive: #9BCB4E !important;
    --light-sky: #A4D3F2 !important;
    --cloud: #C7CBDA !important;
    --white: #FFFFFF !important;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto !important;
    color: #fff;
    text-align: center;
    opacity: .5;
}