* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* DEBUG BORDER: */
    /* border: 1px solid black; */
}

.header {
    background-color: #BE1622;
    color:white;
    width:100%;
}



table, td, tr {
    
    padding: 5px;
    width:100%;
    
}

#products_grid {      
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;     
    margin: auto auto;
    max-width: max-content;
    width:100%;
    padding-top:15px;   
    gap: 5px;     
}