* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
     /* border: 1px solid black; */
}

  

.header {
    background-color: #BE1622;
    color:white;
    width:100%;
    vertical-align: top;
    ;
    
}

#menu_logo {
    padding: 10px;
    font-size: 14px;
    width:50px;height:50px
}
  .object {
    position: absolute;   
    background-color: #ffffff;
    min-width: 80px;
    display: none;
  }

  .object a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display:grid;
  }
 
  .isShowed {display:block;} 

.showForB {
    vertical-align: top;
    padding: 15px;
}

@media only screen and (max-width: 1000px) {
    .showForB {
        display: none;
        
    }   
}
@media only screen and (min-width: 1000px) {    
    .showForS {
        display: none;
    }
  
}

#s_title {
    vertical-align: top;
    padding-top: 15px;
    
}
.link {
    text-decoration: none;
    color:white;
    
}


table, td, tr {   
    padding: 5px;
    width:100%;  
}

#products_grid {      
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;     
    margin: auto auto;
    max-width: max-content;
    width:100%;
    padding-top:15px;   
    gap: 5px;     
}

#footer {
    background-color: #34516C;
    height:200px;
    padding-left: 50px;
    
}

.f_h2 {
    color:white;
}

.f_descr {
    width:33%;
    text-align: left;
    color:white;
}

#tabloid {      
    text-align: center;
    padding: 1px;
    display: grid;   
    margin: auto auto;
    max-width: max-content;
    padding-top:15px;
    width:100%;
    gap: 5px;
    grid-template-columns: auto auto auto auto;  
}

.zoom { 
    background-color: rgb(255, 255, 255);
    transition: transform .1s;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
  }

.zoom:hover {
    transform: scale(1.05); 
    background-color: rgb(255, 255, 255);
    outline: 2px solid rgb(145, 13, 13);
    border-radius: 10px;
    
}

.index_vid {
    width: 956px;
    height: 478px;
    border: none;
}

#cart_testing {
    padding-top: 100px;
    padding-bottom: 200px;
}

.option_prod {
    font-size: large;
}